:root{--bg:#fff;--sbg:#fff;--lbg:#f5f5f5;--ebg:#e7efff;--color:#333;--color2:#fff;--acolor:#000;--br:#e7e7e7;--br2:#ddd;--sbr:1px solid #ccc;--brightness85:none;--invert100:none;}
.dark{--bg:#222;--sbg:#333;--lbg:#333;--ebg:#333;--color:#b0b0b0;--color2:#b0b0b0;--acolor:dfdfdf;--br:#555;--br2:#555;--sbr:0px;--brightness85:brightness(85%);--invert100:invert(100%);}
.dark img{filter: brightness(85%);}
.dark .no-comment{background:#333!important;}
html, body{height:100%;display:flex;flex-direction:column;}
body{background-color:var(--bg);font-size:13px;color: var(--color);font-family:Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;margin:0px;min-width:1200px;-webkit-text-size-adjust: 100%;overflow-y: scroll;overflow:overlay;}
*, ::after, ::before {box-sizing: border-box;}
ul, ol, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input { margin:0; padding:0; }
li{ list-style:none; }
input, textarea, button {outline:none;background-color:var(--sbg);border:var(--sbr);margin:0;color:var(--color);font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;box-sizing:border-box;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #999;}
a{color:#337ab7;text-decoration:none;}
a:hover,.radio span:hover,.checkbox span:hover{color:#d81e06}
i{font-style:normal;}
em{font-size:12px;font-style:normal;color:#8c8c8c;}
select{border:1px solid var(--br2);color:var(--color);background-color:var(--sbg);}
.icon-sync{font-size:14px;padding-right:3px;}
.logo {height:60px;display:inline-block;}
.logo a{letter-spacing:2px;display:block;height:60px;font-size:24px;font-weight:bold;color:#09a7e1;margin-right:20px;}
.logo img{width:110px;height:60px;}
header{background-color:var(--bg);width:100%;background-size:100%,100%;margin-bottom:15px;height:60px;line-height:60px;flex:0 0 auto;box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);z-index:9999;top:0;left:0;position:fixed;}
nav{display:inline-block;flex:0 auto;}
.nav{display:flex;align-items:center;justify-content:space-between;width:1200px;height:60px;margin:0 auto;}
.nav .hright{display:flex;width:145px;justify-content:flex-end;}
header nav li{display:inline-block;}
header nav li a:hover,.user_menu span a:hover{color:#05a7e1;}
header nav li a,.user_menu span a{font-size:16px;color:var(--color);display:block;margin:0 15px;line-height:60px;background-size:20px 20px;}
header .active a{color:#05a7e1;position:relative;font-weight:600;}
header .active a:before{content:"";position:absolute;bottom:-1.5px;left:0;height:3px;width:100%;background:#05a7e1;}
.right{float:right;display:inline-block;}
.left{float:left;display:inline-block;}
.search{flex:0 auto;position:relative;line-height:normal;display:inline-block;height:30px;width:330px;}
.search form{height:100%;align-items:center;display:flex;}
.search .word{flex:1;height:100%;padding:0 8px;font-size:14px;border-radius:4px 0 0 4px;}
.search input:focus{border-radius:4px 0 0 0;}
.search span{display:block;}
.search #panel{padding:10px;border:var(--sbr);min-height:100px;width:100%;display:none;top:100%;position:absolute;background-color:var(--sbg);border-radius: 0 0 4px 4px;}
.search #panel .header{display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;}
.search #panel ul{display: flex;font-size: 12px;flex-wrap: wrap;margin-top: 12px;margin-right: -10px;margin-bottom: 4px;margin:0 -3px;}
.search #panel li{cursor:pointer;background-color:rgb(160 160 160 / 15%);margin:3px;position:relative;   border-radius: 4px;height: 25px;line-height: 15px;}
.search #panel li:hover,.search #panel .clear:hover{color:#05a7e1;}
.search #panel li:hover i{display:block;}
.search #panel li .text{padding:5px 8px;max-width:100px;min-width:25px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.search #panel li>i{display:none;text-align:center;padding:2px;width:12px;height:12px;right:-4px;position:absolute;cursor:pointer;background:url(./static/css/clear.png) no-repeat center;top:-4px;background-size:12px;filter:var(--invert100);}
.search #panel .clear{font-size:12px;line-height:15px;height:15px;color:var(--text3);cursor:pointer;}
.btn-search{height:100%;width:33px;border:0;display:inline-block;font-size:16px;cursor:pointer;color:#fff;background-color:#05a7e1;border-radius:0 4px 4px 0;padding:0;filter:var(--brightness85);}
.autocomplete-suggestions{box-sizing:border-box;border:1px solid var(--br2);background-color:var(--bg);box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);position:absolute;width:100%;top:100%;display:none;border-radius: 0 0 4px 4px;}
.autocomplete-suggestion {padding:5px 8px;white-space:nowrap;overflow:hidden;cursor:pointer;position:relative;border-bottom:1px solid var(--br2);}
.autocomplete-suggestion p{padding:3px 0;font-size:12px;}
.autocomplete-suggestion .cate,.autocomplete-suggestion p{color:#999;}
.autocomplete-suggestion .cate{margin-top:-8px;right:8px;position:absolute;top:50%;}
.autocomplete-suggestion img {float:left;border-radius:4px;}
.autocomplete-suggestion .txt {display:inline-block;margin-left:5px;width:200px;white-space:nowrap;overflow:hidden;}
.autocomplete-suggestion:hover{background-color:var(--lbg);}
.autocomplete-suggestions strong{color:#05a7e1;}
.autocomplete-suggestions p strong{color:#6b6b6b;}
#user_load{font-size:16px;float:right;display:inline-block;max-width:85px;position:relative;cursor:pointer;white-space:nowrap;}
#user_load a{color:var(--color);}
#user_load a:hover{color:#05a7e1;}
#user_load i{vertical-align:middle;display:inline-block;height:14px;border-left:1px solid #cacaca;margin-left:10px;margin-right:10px;}
.arrow{right:0;\position:absolute;top:50%;border-width: 3.5px;border-color: #999 transparent transparent transparent;border-style: solid dashed dashed dashed;width: 0;height: 0;font-size: 0;line-height: 0;}
#user_load .nli{position:relative;}
#user_load .nli .cname{margin-right:10px;white-space:nowrap;overflow:hidden;}
#user_load .sub{line-height:10px;border-top:0px!important;border:1px solid var(--br);position:absolute;z-index:100;display:none;background-color:var(--sbg);right:0px;padding:10px 0;}
#user_load .sub li{float:none;}
#user_load .sub li:hover{background-color:#f5f5f5;}
#user_load .sub a{margin:0;display:block;padding: 3px 22px;clear: both;font-weight: 400;line-height: 1.42857143;white-space: nowrap;}
#user_load .sub a:hover{color:#555!important;}
.user_menu{display:inline-block;margin-right:10px;}
.user_menu span{display:inline-block;}
.user_menu span a{margin: 0 8px;}
#his{display:inline-block;position:relative;}
#his:hover #historys{display:block;}
#historys{display:none;position: absolute;right:-20px;z-index: 99999999;background: var(--sbg);width:250px;box-shadow:0 2px 4px rgba(0,0,0,.16);border: 1px solid var(--br);border-radius:4px;}
#historys li{float:none;text-overflow: ellipsis;white-space:nowrap;overflow: hidden;}
#historys li a{font-size:13px;line-height: 35px;height: 25px;}
#historys li i:first-child{display: inline-block;white-space: nowrap;overflow: hidden;width: 190px;}
footer{flex:0 0 auto;color:#888;border-top:1px solid var(--br2);width:100%;background-color:#222;font-size:12px;margin-top:20px;clear:both}
.footer1{width:1200px;margin:0 auto;padding:30px 0;}
footer a,.friendlink a{color:#868686;}
.friendlink{color:#868686;font-size:.8em;padding-top:14px;padding-bottom:14px;border-top:1px solid rgba(0,0,0,.05);margin-bottom:-20px;margin-top:20px;}
.friendlink ul{width:1200px;margin:0 auto;font-size:13px;}
.friendlink li{display:inline-block;margin:8px;}
.notop{border-top:none;}
.to-top{display:none;line-height:48px;height:45px;width:45px;border-radius:50%;text-align:center;font-size:20px;box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3);background:var(--sbg);}
.layui-layer-title{border-bottom:1px solid var(--br)!important;color:var(--color)!important;}
.layui-layer{background-color:var(--bg)!important;}
.layui-layer-btn{filter:var(--brightness85);}
.layui-layer-hui{background-color: rgba(0,0,0,.6)!important;}
img{border:0}
.js{width:90%;margin:10px auto 0 auto}
.js p{padding:5px 0;font-weight:700;overflow:hidden}
.js p span{float:right}
.js p span a{color:red;text-decoration:underline}
.js textarea{height:100px;width:98%;padding:5px;border:1px solid #ccc;border-top:2px solid #aaa;border-left:2px solid #aaa}
.foucebox{width:1200px;height:320px;margin:0 auto;clear:both;}
.foucebox .bd{position:relative;float:left;width:730px!important;height:320px;overflow:hidden}
.foucebox .showDiv{position:relative;width:730px;height:320px}
.foucebox .showDiv img{width:730px;height:320px}
.foucebox .showDiv p{position:absolute;left:20px;bottom:0;padding-right:20px;color:#e6e6e6;z-index:9;height:44px}
.foucebox .showDiv h3{position:absolute;left:20px;bottom:0;width:100%;height:34px;font-size:24px;font-family:"Microsoft Yahei";line-height:34px;z-index:9;overflow:hidden}
.foucebox .showDiv h3 a{color:#fff;font-weight:500;}
.foucebox .foucebox_bg{position:absolute;left:0;bottom:0;width:730px;height:107px;background:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));z-index:8;overflow:hidden}
.foucebox .hd{width:470px;height:320px;float:right}
.foucebox .hd ul li{width:225px;height:100px;float:left;margin:0 0 10px 10px;display:inline;box-sizing:border-box;}
.foucebox .hd .on{background-color:var(--br);}
.foucebox .hd ul a{display:flex;width:225px;height:100px;}
.foucebox .hd ul img{width:100%;height:100%;}
.foucebox .hd .detail{border:1px solid var(--br);border-left:0;padding:10px;flex:1;min-width:0;color:var(--color);display:flex;flex-direction:column;flex-wrap:nowrap;justify-content:space-between;}
.foucebox .hd .img{width:70px;height:100px;position:relative;}
.foucebox .hd .info{font-size:12px;color:#8e8e8e;}
.foucebox .hd .des{line-height:1.6;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;font-size:12px;color:#8e8e8e;}
.foucebox .hd ul .title{z-index:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.foucebox .hd ul .on img,.foucebox .hd ul a:hover img{border-color:#70a20f}
.foucebox .hd ul a:hover{color:#fff}
main{width:1200px;margin:0 auto;flex:1 0 auto;padding-top:70px;}
.wrap h2{font-weight:400;font-size:20px;line-height:20px;margin-top:20px;margin-bottom:20px;}
.exchange-btn{display:flex!important;}
.exchange-btn>div,.exchange-btn>a{align-items:center;display:flex;font-size:13px;color:var(--color);line-height:20px;margin-left:10px;position:relative;border-radius:2px;cursor:pointer;border:1px solid var(--br2);padding: 0 10px;text-align: center;}
.exchange-btn>div:hover,.exchange-btn>a:hover{background-color:var(--lbg);}
.exchange-btn>a{padding-right:15px}
.cmore{position: absolute;right: 7px;top:33%;content: " ";height: 7px;width: 7px;border: 1.2px solid var(--color);border-top: none;border-left: none;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.content-list{display:grid;grid-gap:10px;justify-content:space-between;grid-template-columns:repeat(auto-fill, 162.85px);overflow:hidden;}
.content-list li{width:162.86px;display:inline-block;position:relative;box-sizing:border-box;}
.content-list .li-img{width:100%;overflow:hidden;position:relative;height:235px;}
.content-list img{width:100%;height:100%;}
.content-list img,.main-right .whits img,.content-list2 img,.sr_lists img,.foucebox .hd ul img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);object-fit:cover;}
.content-list .li-img a{display:inline-block;width:100%;height:100%;background-color:rgb(136 136 136 / 12%);}
.content-list .li-img .bottom{align-items:center;display:flex;font-size:12px;position:absolute;right:0px;bottom:0px;background:#00000080;}
.content-list .li-img .bottom span{align-items:center;display:flex;padding:0 3px;color:#fff;height:20px;line-height:20px;filter:var(--brightness85);}
.load-favorite{cursor:pointer;display:none;}
.content-list .li-img:hover .load-favorite,.main-left .img:hover .load-favorite{display:block;font-size:12px;position:absolute;color:#fff;right:0px;top:0px;background:#00000080;border-radius:0 0 0 100%;height:25px;width:25px;}
.load-favorite .icon-heart,.load-favorite .icon-heart2{position:absolute;top:5px;right:5px;}
.load-favorite .icon-heart2{position:absolute;top:5px;right:5px;color:#FF0000;}
.li-bottom{height:43px;box-sizing:border-box;border:1px solid var(--br);border-top:0;}
.li-bottom a{color:#888;}
.li-bottom a:hover{color:var(--color);}
.li-bottom h3{padding:5px 8px 0 8px;font-weight:500;font-size:13px;line-height:15px;background-position:0 11px}
.li-bottom h3 a{width:120px;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.li-bottom h3 span{float:right;color:#ff722c;font-size:10px;}
.li-bottom .tag{line-height:18px;padding:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#999;font-size:11px}
.wrap:after,main:after,.main-right .whits li:after,.friendlink:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.main-left{width:850px;float:left;}
.main-left .img{width:30%;min-height:255px;float:left;position:relative;}
.main-left-1{padding-right:15px;margin-top:15px;}
.main-left-1 h2{font-size:16px;line-height:1.2;padding:2px 0 2px 0px;font-weight:500;margin:20px 15px 10px 0;}
.main-left-1 h2 span{ padding-left:10px;font-size:13px;cursor:pointer;}
.main-left-1 .sub{position:relative;padding-right:10px;}
.main-left-1 .sub ul{z-index:1;display:none;position:absolute;background-color:var(--bg);border:1px solid var(--br);left:-30%;top:13px;}
.main-left-1 .sub li{padding:2px 3px;}
.main-left-1 .sub li:hover{background:var(--lbg);}
.main-left-1 .sub a{width:80px;display:inline-block;}
.main-right h2{font-size:16px;line-height:1.2;padding:2px 0 2px 0;font-weight:500;margin-top:15px;margin-bottom:10px;}
.main-right .whits li{border-bottom:1px solid var(--br2);padding:10px 0;margin-right:15px;width:335px;   display:flex;justify-content:space-between;}
.main-right .whits p,.main-right .whits h3{width:260px;padding:2px 0;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:500;}
.main-right .whits img{width:60px;height:88px;}
.main-right .wimg{width:60px;height:88px;position:relative;}
.main-right .wlist{width:260px;display:flex;flex-direction:column;justify-content:space-between;flex-wrap:nowrap;}
.main-ui-meta{float:left;margin-left:15px;font-size:12px;width:66.5%;}
.main-ui-meta h1{font-size:20px;font-weight:bolder;line-height:1.5;margin:0 0 10px;}
.main-ui-meta h1 div{display:inline;}
.main-ui-meta h1 span{padding-left:5px;display:inline-block;}
.main-ui-meta .otherbox{font-size:12px;background:var(--ebg);display:inline-block;padding:4px 10px 3px;border-radius:4px;line-height: 1.5;}
.main-ui-meta .otherbox em{padding:0 3px;color:var(--color);}
.main-ui-meta p,.main-ui-meta>div{margin-bottom:5px;line-height:1.8;}
.main-ui-meta span{color:var(--color);}
.main-ui-meta .sqzy_a,.main-ui-meta .zk_zy,.main-ui-meta .sq_zy{font-weight:normal;}
.main-ui-meta .zk_zy,.main-ui-meta .sq_zy,.movie-introduce .zk_jj,.movie-introduce .sq_jj,.alert-info .sq_xx,.alert-info .zk_xx{cursor:pointer;}
.movie-introduce .zk_jj,.movie-introduce .sq_jj,.alert-info .sq_xx,.alert-info .zk_xx{color:#337ab7;}
.row{margin-right:-15px;margin-left:-15px;padding-left:15px;}
.movie-introduce{margin-right:15px;line-height:1.8;word-break:break-all;}
.douban{color:green;font-weight:bold;}
.imdb{color:#dba400;font-weight:bold;}
.mtime{color:#11a4b6;font-weight:bold;}
.lfq{color:#ff5b5b;font-weight:bold;}
.douban0,.imdb0,.mtime0,.lfq0,.mal0 {position: relative;display: inline-block;}
.width186{left:-100%!important;}
.border-left{padding-right:15px;display:inline-block;}
.border-right{padding-left:15px;border-left:1px solid var(--br2);display:inline-block;}
.star-content{white-space:nowrap;top:22px;left:-50%;display:none;position:absolute;background-color:var(--bg);border:1px solid var(--br2);padding:15px 15px;z-index:1}
.star-content>i{width:0;height:0;position:absolute;top:-7px;right:50%;margin-right:-7px;border-top:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid var(--br2);}
.star-content>i:after{content:'';width:0;height:0;position:absolute;top:1px;right:-7px;border-top:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid var(--bg);}
.douban0:hover .star-content,.imdb0:hover .star-content,.mtime0:hover .star-content,.lfq0:hover .star-content,.mal0:hover .star-content,.sub:hover ul {display:block;}
.star0,.star1,.star2,.star3,.star4,.star5,.star6,.star7,.star8,.star9,.star10{display:inline-block;zoom:1;background:url(./static/css/ic_rating_s.png) no-repeat;width:55px;height:11px;margin:0 3px 0 0;overflow:hidden}
.star10{background-position:0 0px}.star9{background-position:0 -11px}.star8{background-position:0 -22px}.star7{background-position:0 -33px}.star6{background-position:0 -44px}.star5{background-position:0 -55px}.star4{background-position:0 -66px}.star3{background-position:0 -77px}.star2{background-position:0 -88px}.star1{background-position:0 -99px}.star0{background-position:0 -110px}
.content-list2 {}
.content-list2 li{width:130.8px;float:left;display:inline;position:relative;margin-right:10px;}
.content-list2 .li-img{width:100%;overflow:hidden;position:relative;height:190px;background-color:rgb(136 136 136 / 12%);}
.content-list2 img {width:100%;height:100%;}
.content-list2 .li-bottom{height:20px;}
.content-list2 h3{text-align:center;padding:5px 8px 0 0;}
.alert-info{line-height:1.8;background-color:var(--lbg);padding:10px;border-radius:0px;margin-right:15px;margin-top:10px;word-break:break-all;}
.icon-play{padding-right:2px;}
#wts{display:none;}
#play h2>span,#down h2>span{display:none;font-size:10px;color:var(--color);}
#play:hover h2>span,#down:hover h2>span{display:inline-block;}
.down321 li{padding:10px;border-bottom: 1px solid var(--br2);}
.down321 li:hover{background:var(--lbg);}
.down321 {margin-top:20px;margin-right:15px;}
.down321 li:after{content:"."; display:block; height:0; visibility:hidden; clear:both;}
.down321 .right,.down321 .left{margin-top: 10px;}
.down321 .right>span,.down123 li{display:inline-block;border:1px solid #bbbbbb;line-height:23px;border-radius:4px;background-color:var(--sbg);margin-right:10px;cursor:pointer;}
.down321 .right>span>span{}
.down321 .right span>i,.down123 li>i{padding:0 3px;border-left:1px solid #bbbbbb;width:auto !important;}
.down321 .right>span>span,.down321 .right span>i,.down123 li>i,.down123 li>span{display:table-cell;vertical-align:middle;height:23px;width:60px;text-align:center}
.down321 .right>span>span:hover,.down321 .right span>i:hover,.down123 li>i:hover,.down123 li>span:hover,.down-list-toolbar .btn-group .btn:hover,.down-list span>a:hover{background-color:#05a7e1;color:#fff;filter:var(--brightness85);}
.list-group a{margin-bottom:-1px;border:1px solid var(--br2);padding:8px 10px;display:block;margin-right:15px;color:var(--color);}
.list-group a:hover{background:var(--lbg);}
.down-list-toolbar {float:right;margin:10px 15px 0 0;position:relative;background-color:var(--lbg);border-radius:4px;padding:5px 5px 5px 10px;}
.down-list-toolbar .title {display:inline-block;font-size:13px;line-height:22px;margin:0;}
.down-list-toolbar .btn-group {display:inline-block;vertical-align:middle;}
.down-list-toolbar .btn-group .btn {margin-left:-2px;float:left;cursor:pointer;padding:0 1rem;height:22px;line-height:22px;border-radius:4px;border:1px solid #d9d9d9;background-color:var(--bg);position:relative;z-index:2;}
.qr{position:relative;cursor:pointer;}
#qr{display:none;position:absolute;z-index:10;top:30px;left:0px;background-color:#ffffff;border:1px solid #bcbcbc;padding:10px;}
.qr:hover #qr{display:block;}
#mask_shadow{display:none;opacity:0;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.5)}
.magnet-d {white-space:pre-line;font-size:13px}
.showAlert[data-animation=layerFadeIn]{animation: layerFadeIn .3s; -webkit-animation: layerFadeIn .3s; -moz-animation: layerFadeIn .3s; -ms-animation: layerFadeIn .3s; -o-animation: layerFadeIn .3s;}
.hideAlert[data-animation=layerFadeIn]{animation: hideFadeIn .2s forwards; -webkit-animation:hideFadeIn .2s forwards; -moz-animation: hideFadeIn .2s forwards; -ms-animation: hideFadeIn .2s forwards; -o-animation: hideFadeIn .2s forwards;}
@keyframes layerFadeIn{0%{opacity: 0; transform: scale(.5)} 100%{opacity: 1; transform: scale(1)}}
@-webkit-keyframes layerFadeIn{0%{opacity: 0; -webkit-transform: scale(.5)} 100%{opacity: 1; -webkit-transform: scale(1)}}
@-moz-keyframes layerFadeIn{0%{opacity: 0; -moz-transform: scale(.5)} 100%{opacity: 1; -moz-transform: scale(1)}}
@-ms-keyframes layerFadeIn{0%{opacity: 0; -ms-transform: scale(.5); filter:Alpha(opacity=0)} 100%{opacity: 1; -ms-transform: scale(1); filter:Alpha(opacity=100)}}
@-o-keyframes layerFadeIn{0%{opacity: 0; -o-transform: scale(.5)} 100%{opacity: 1; -o-transform: scale(1)}}
.comment{width:835px;}
.no-comment{margin-top:15px;width:100%;color:var(--color);padding:10px;background:#f5f5f5;text-align:center;}
.comment textarea{width:100%;height:100px;resize:none;padding:10px;font-family:"\5fae\8f6f\96c5\9ed1", "\5B8B\4F53", "\9ED1\4F53", arial, sans-serif;float:right;}
.comment .btn{text-align:right;padding-top:10px;width:100%;clear:both;}
.comment .btn_v{color:#fff;background-color:#05a7e1;display:inline-block;padding:6px 9pt;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;filter:var(--brightness85);}
.comment-list{}
.clist1{padding:15px 0;border-bottom:1px solid var(--br);clear:both;}
.clist1 .ctx,.clist2 .ctx{float:left;text-align:center;}
.clist1 .ctx img,.clist12 .ctx img{width:45px;height:45px;border-radius:50%;}
.clist1 .nickname,.clist2 .nickname{font-size:14px;color:#99cc66;margin-bottom:5px;margin-left:10px;}
.clist1 .time,.clist2 .time{float:right;}
.comment-content{padding:7.5px 0;margin-left:55px;word-break:break-all;}
.clist2{padding-top:15px;margin:15px 0 15px 55px;border-top: 1px solid var(--br);}
.clist2:last-child{margin-bottom:0;}
.text-center{text-align:center;font-size:20px;color:#337ab7;margin-top:20px;}
.player li{float:left;padding:0 5px 5px 0;}
.player a{box-sizing:border-box;border-radius:4px;display:inline-block;border:1px solid var(--br2);width:92.5px;height:35px;line-height:35px;padding:0 5px;text-align:center;overflow:hidden;}
.player a:visited{color:#888;}
.player a:hover{color:#d81e06!important;}
.ckp a{width:100px!important;}
.vvvb{position:absolute;text-align:center;width:100%;}
.vvvd{border-radius:5px;margin:0 auto;font-size:12px;position:relative;z-index:9;color:white;background-color:rgb(64 64 64 / 50%);top:-40px;padding:10px;display:none;animation-name:vvvd;animation-duration:8s;}
@keyframes vvvd{10%{top:20px;}80%{top:20px;}100%{}}
.list-box{left:0;width:1200px;clear:both;position:relative;margin-bottom:15px;}
.list-box .c1 .on, .list-box .c1 dd:hover{background:#ff8f00;color:#fff;border-radius:4px;filter:var(--brightness85);}
.list-box .c2 .on, .list-box .c2 dd:hover{background:#05a7e1;color:#fff;border-radius:4px;filter:var(--brightness85);}
.list-box .c3 .on, .list-box .c3 dd:hover{background:#ff4949;color:#fff;border-radius:4px;filter:var(--brightness85);}
.list-box .c4 .on, .list-box .c4 dd:hover{background:#29a681;color:#fff;border-radius:4px;filter:var(--brightness85);}
.list-box dl{overflow: hidden;padding:5px 0px;border-bottom:1px solid var(--br);}
.list-box dt{float:left;width:40px;height:27px;line-height:27px;}
.list-box dd{cursor:pointer;display:inline-block;line-height:22px;height:22px;text-align:center;padding:0px 7px;margin-top:2px;}
.sort{padding:12px;}
.radio{display:inline-block;margin-right:20px;}
.checkbox{display:inline-block;margin-left:20px;}
.radio input,.checkbox input{position:relative;top:2px;margin-right:3px;filter:var(--brightness85);}
.radio span,.checkbox span{cursor:pointer;margin-left:-20px;padding-left:20px;position:relative;}
#range{position:relative}
#range .range-de,#range .range-go{height:auto;display:inline-block;white-space:nowrap;cursor:pointer;background-color:#67c23a;border:0;color:#fff;-webkit-appearance:none;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;margin:0;padding:0 10px;font-size:14px;border-radius:4px;filter:var(--brightness85)}
#range .range-de{background-color:#999999}
.slider-container .back-bar .pointer-label{background:none!important}
.range_a{display:none;z-index:10;padding:30px 30px 70px 30px;position:absolute;top:30px;left:-260px;background:var(--sbg);box-shadow:0 2px 4px rgb(0 0 0 / 16%);border:1px solid var(--br);border-radius:4px}
.range_button{position:absolute;right:20px;bottom:20px}
.scale span{margin-left:0!important;cursor:auto!important}
.hide{display:none;}
.prel{position:relative;}
.mins1{width:90px;height:22px;padding-right:20px;}
.minso{position:absolute;width:24px;height:22px;right:0;overflow:hidden;border:0 none;cursor:pointer;background:#fff0;}
.pages{width:100%;margin-top:20px;height:36px;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.pages a, .pages span {border:1px solid var(--br2);display:inline-block;font-size:14px;height:34px;line-height:34px;padding:0 13px;background:var(--bg);color:var(--color);margin-left:-1px;}
.pages a:hover, .pages span {background:#2aa581;color:#fff;filter:var(--brightness85);}
.pages input{margin-left:10px;text-align:center;width:60px;font-size:12px;height:20px;height:34px;line-height:34px;}
.main-right{width:335px;float:right;}
.down-list ul{box-sizing:border-box;border-left:1px solid var(--br2);border-right:1px solid var(--br2);width:835px;}
.down-list2{padding:10px;border-bottom:1px solid var(--br2);display:flex;flex-wrap:nowrap;justify-content:space-between;font-size:12px;}
.down-list2:hover{background:var(--lbg);}
.down-list3{display:inline-block;}
.down-list3>a{vertical-align:middle;display:inline-block;max-width:620px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.down-list3 .new{color:white;background-color:#4caf50;padding:2px;border-radius:4px;filter:var(--brightness85);}
.down-list3 .size{background-color:var(--ebg);padding:3px 5px;border-radius:4px;}
.down-list3 .torrent{background-image:url(./static/css/torrent.gif);padding-left:12px;background-repeat:no-repeat;background-size:12px 12px;background-position-y:center;}
.down-list3 .zip{background-image:url(./static/css/zip.gif);padding-left:12px;background-repeat:no-repeat;background-size:12px 12px;background-position-y:center;}
.down-list3 .folder{background-image:url(./static/css/folder.gif);padding-left:12px;background-repeat:no-repeat;background-size:12px 12px;background-position-y:center;}
.down-list span a{color:#999;padding:2px 5px;background-color:var(--br2);border-radius:4px;}
.down-list span i{width:40px;margin-right:10px;display:inline-block;text-align:center;}
.nav-tabs{box-sizing:border-box;border-right:1px solid var(--br);white-space:nowrap;background:var(--lbg);width:835px;border-top:1px solid var(--br);border-bottom:1px solid var(--br);}
.nav-tabs .on{background:var(--bg);border-left:1px solid var(--br);border-right:1px solid var(--br);}
.nav-tabs .on:before {content: "";position:absolute;bottom:-1px;left:0;height:1px;width:100%;background:var(--bg);
}
.nav-tabs #n{border-left:1px solid var(--br);}
.nav-tabs li{display:inline-block;border-radius:0;padding:10px 9.35px;background:var(--lbr);cursor:pointer;position:relative;border-left:1px solid var(--lbg);border-right:1px solid var(--lbg);}
.nav-tabs li:first-child{border-left: 1px solid var(--br);}
.py-tabs{font-size:13px;}
.py-tabs li{display:inline-block;cursor:pointer;margin-left:10px;padding-bottom:5px;color:#666;}
.py-tabs .on{border-bottom:1.5px solid #05a7e1;color:#05a7e1;}
.badge{display:inline-block;width:24px;padding:3px 0px;font-size:10px;font-weight:600;line-height:1;color:#fff;text-align:center;white-space:nowrap;border-radius:10px;border-radius:2px;background-color:#07A7E1;filter:var(--brightness85);}
.loading{width:50px;height:5px;margin:7.5px auto}
.loading span{display:inline-block;width:5px;height:100%;margin-right:5px;border-radius:50%;background:#ddd;-webkit-animation:load 1.04s ease infinite}
.loading span:last-child{margin-right:0}
@-webkit-keyframes load{0%{opacity:1;-webkit-transform:scale(1.3)}
100%{opacity:.2;-webkit-transform:scale(.3)}
}
.loading span:nth-child(1){-webkit-animation-delay:.13s}
.loading span:nth-child(2){-webkit-animation-delay:.26s}
.loading span:nth-child(3){-webkit-animation-delay:.39s}
.loading span:nth-child(4){-webkit-animation-delay:.52s}
.loading span:nth-child(5){-webkit-animation-delay:.65s}
.p_movie{overflow: hidden;height: 100%;}
.play { width: 1200px; background-color: #2B2B2B; height: 600px; float:left;}
.slide_playBox { width:275px; position:relative; height:600px; }
.slide_playBox .hd { height:26px; }
.slide_playBox .hd ul { float: left; position: absolute; z-index: 1;border-bottom: 1px solid #484848; }
.slide_playBox .hd ul li { float: left; width: 137.5px; height: 25px; border-bottom: 0px; color: #FFF; text-align: center; line-height:25px;cursor: pointer;}
.slide_playBox .hd ul li.on { color: #05a7e1; border-bottom: 1px solid #05a7e1; }
.slide_playBox .bd ul { color: #B0B0B0; zoom: 1; }
.play_box2 .tab_box, .play_box1 .tab_box { display: block; overflow: hidden; overflow-y: auto; SCROLLBAR-FACE-COLOR:#757575; }
.tab_box::-webkit-scrollbar {width:10px;}
.tab_box::-webkit-scrollbar-track {background-color:#353535;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
.tab_box::-webkit-scrollbar-thumb {background-color:#757575;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius:2em;}
.slide_playBox .type{color: #FFF;border-radius: 4px;margin-left: 0px;padding: 1px 7px; font: 700 12px/27px Arial;}
.play_box1 h2 { float: left; padding-top: 0; }
.play_box1 h2 { line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 330px; }
.play_box1 h2 a { font-size: 18px; font-weight: 500; color: #fff; float: left; }
.play_box1 pf { padding-left: 10px; font: 700 24px/30px Georgia; color: #FF6A00; margin-right: 5px; }
.play_box1 dl .focus { color: #AAA; width: 300px; margin-bottom: 10px; }
.play_box1 .btn_focus { display: inline-block; *display:inline;zoom: 1; float: left; width: 96px; height: 22px; padding-top: 4px; margin-right: 8px; text-align: center; background: #ED6D00 none repeat scroll 0% 0%; border-radius: 1px; vertical-align: middle; cursor: pointer; margin-top: -4px; }
.play_box1 .btn_focus a { color: #fff }
.play_box1 .btn_focus a:hover { color: #fff; text-decoration: none; }
.play_box1 .btn_focus:hover { background: #17B2FA none repeat scroll 0% 0%; }
.play_box2 .tab_box, .play_box1 .tab_box { height:574px; }
.trailer h1{display:inline-block;zoom:1;color:rgb(51,51,51);font-family:微软雅黑,黑体;font-size:20px;text-shadow:rgb(255,255,255) 0px 1px 0px;padding:10px 0;}
.trailer h1 a{color: #09c;}
.showbox { display: block; overflow: hidden; clear: none; margin-top: 10px; }
.box_con { padding-bottom: 3px; overflow: hidden; zoom: 1; background: #2b2b2b none repeat scroll 0% 0%; }
.showplayul { overflow: hidden; margin-left: 2px; margin-right: 0px; background: #2b2b2b none repeat scroll 0% 0%; }
.showplayul li { display: inline-block; zoom: 1; position: relative; height: 30px; margin: 2px; z-index: 1; width:auto;min-width: 61px; }
.showplayul li a { display: block; position: relative; height: 30px; line-height: 30px; background: #444; color: #BDBDBD; text-align: center; font-size: 12px; padding: 0 5px;}
.showplayul li a:hover {background: #7d7d7d;color:#fff!important;}
.showplayul li a:visited{color:#888;}
.showplayul .on {color:#05a7e1!important;}
.showplayul li span { margin-left: 10px; }
.showplayul .ts { z-index: 2; display: block; line-height: 30px; border: 1px solid #ED6D00; text-align: center; font-size: 14px; font-family: "hiragino sans gb", simsun, stfangsong; color: #ED6D00; }
.control { padding: 0 3px; margin-top: 3px; line-height: 23px; overflow: hidden; zoom: 1; }
.nextBtn, .prevBtn, .player_lan { cursor: pointer; height: 100%; background-repeat: no-repeat; background-position: center center; }
.nextBtn, .player_lan { width: 10px; background-color: #2b2b2b; background-image: url(./static/css/nextBtn.png); }
.nextBtn:hover { background-image: url(./static/css/nextBtn_on.png);}
.prevBtn { width:10px; background-color: #242424; background-image: url(./static/css/prevBtn.png); }
.prevBtn:hover { background-image: url(./static/css/prevBtn_on.png); }
.sr_lists dl{height:200px;margin-bottom:15px;padding:10px;}
.sr_lists img{height:200px;width:140px;}
.sr_lists dt{float:left;height:200px;width:140px;position:relative;}
.sr_lists dd{float:left;padding-left:25px;width:1000px;}
.sr_lists dd p{margin:0 0 8px;line-height:1.8;}
.sr_lists .p0{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sr_lists .ss1{color: rgb(0, 173, 63);}
.sr_lists em,.bit_list em{color:red;}
.breadcrumbs{padding-bottom:15px;}
.bit_list{padding:10px 0;}
.bit_list td{border-bottom:dashed 1px var(--br2);height:30px;line-height:30px;position:relative}
.bit_list tr:hover{background:var(--lbg)}
.search_head{margin:20px 0;}
.search_head a{color:var(--color);padding:5px 10px;border-bottom: 1px solid var(--br);border-top: 1px solid var(--br);border-right: 1px solid var(--br);}
.search_head a:first-child{border-left: 1px solid var(--br);}
.search_head .on{color:#fff;background-color: #05a7e1;filter:var(--brightness85);}
